@page
@model Centrade.Pages.ClientModel
@{
    ViewData["ClientLayout"] = "Strona klienta";
}


<h1 class="viewHeader">KLIENT</h1>
  
  <div class="clientContainer">
    <div class="clientInfo">
      <div class="left">
        <h5 style="font-weight: bold;" class="corp infoHeader">INFORMACJE</h5>

        <div class="baseInfo">
          <h6 class="subHeader">PERSONALNE</h6>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">IMIĘ</li>
            <li class="list-group-item">Agnieszka</li>
          </ul>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">NAZWISKO</li>
            <li class="list-group-item">Nowak</li>
          </ul>
          <h6 class="subHeader">ADRES KORESPONDENCYJNY</h6>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">KRAJ</li>
            <li class="list-group-item">Polska</li>
          </ul>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">MIASTO</li>
            <li class="list-group-item">Warszawa</li>
          </ul>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">KOD POCZTOWY</li>
            <li class="list-group-item">01-602</li>
          </ul>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">ULICA</li>
            <li class="list-group-item">Jagielońska 42/21B</li>
          </ul>
          <h6 class="subHeader">KLIENTA</h6>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">NR KLIENTA</li>
            <li class="list-group-item">#848012</li>
          </ul>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">DATA PIERWSZEJ REJESTRACJI W CENTRADE</li>
            <li class="list-group-item">18.05.2016</li>
          </ul>
        </div>
      </div>

      <div class="right">
        <h5 style="font-weight: bold;" class="client infoHeader">SZKODY OC/AC</h5>
        <table class="table align-middle mb-0 bg-white">
          <thead class="bg-light">
            <tr>
              <th>#</th>
              <th>Nr rejestracyjny pojazdu</th>
              <th>Kierowca</th>
              <th>Data wydarzenia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="fw-normal mb-1">1</p>
              </td>
              <td>
                <p class="fw-normal mb-1">OP 24C31</p>
              </td>
              <td>
                <p class="fw-normal mb-1">Agnieszka Nowak</p>
              </td>
              <td>
                <p class="fw-normal mb-1">11.06.2020</p>
              </td>
            </tr> 
            <tr><td>2</td></tr>
            <tr><td>3</td></tr>
          </tbody>
        </table>
        <h5 style="font-weight: bold;" class="client infoHeader">PRZYSŁUGUJĄCE ZNIŻKI</h5>
        <table class="table align-middle mb-0 bg-white">
          <thead class="bg-light">
            <tr>
              <th>Nazwa</th>
              <th>Zniżka</th>
              <th>Status</th>
              <th>Brakuje</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="fw-normal mb-1">ŻYCIE+</p>
              </td>
              <td>
                <p class="fw-normal mb-1">10%</p>
              </td>
              <td>
                <p class="fw-normal mb-1">Przysługuje</p>
              </td>
              <td>
                <p class="fw-normal mb-1">-</p>
              </td>
            </tr> 
            <tr>
              <td>
                <p class="fw-normal mb-1">STAŁE AC</p>
              </td>
              <td>
                <p class="fw-normal mb-1">5%</p>
              </td>
              <td>
                <p class="fw-normal mb-1">Przysługuje</p>
              </td>
              <td>
                <p class="fw-normal mb-1">-</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-normal mb-1">SZYBY COMFORT</p>
              </td>
              <td>
                <p class="fw-normal mb-1">40%</p>
              </td>
              <td>
                <p class="fw-normal mb-1">Nieprzysługuje</p>
              </td>
              <td>
                <p class="fw-normal mb-1">11 miesięcy</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-normal mb-1">TRAVEL EU</p>
              </td>
              <td>
                <p class="fw-normal mb-1">7%</p>
              </td>
              <td>
                <p class="fw-normal mb-1">Nieprzysługuje</p>
              </td>
              <td>
                <p class="fw-normal mb-1">-</p>
              </td>
            </tr>
          </tbody>
        </table>
      
      </div>
    </div>
    <div class="clientDocuments">
      <h5 style="font-weight: bold;" class="corp infoHeader">DOKUMENTY</h5>
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>#</th>
            <th>Typ dokumentu</th>
            <th>Nr umowy</th>
            <th>Podmiot umowy</th>
            <th>Data zakończenia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="fw-normal mb-1">1</p>
            </td>
            <td>
              <p class="fw-normal mb-1">OC i AC</p>
            </td>
            <td>
              <p class="fw-normal mb-1">N491992732</p>
            </td>
            <td>
              <p class="fw-normal mb-1">OP 24C31</p>
            </td>
            <td>
              <p class="fw-normal mb-1">20.05.2022</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="fw-normal mb-1">2</p>
            </td>
            <td>
              <p class="fw-normal mb-1">OC i AC</p>
            </td>
            <td>
              <p class="fw-normal mb-1">N492488371</p>
            </td>
            <td>
              <p class="fw-normal mb-1">OP G54D1</p>
            </td>
            <td>
              <p class="fw-normal mb-1">13.11.2022</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="fw-normal mb-1">3</p>
            </td>
            <td>
              <p class="fw-normal mb-1">NNW</p>
            </td>
            <td>
              <p class="fw-normal mb-1">P837626112</p>
            </td>
            <td>
              <p class="fw-normal mb-1">Agnieszka Nowak</p>
            </td>
            <td>
              <p class="fw-normal mb-1">Autowznowieniowa</p>
            </td>
          </tr>
          <tr><td>4</td></tr>
        </tbody>
      </table>
    </div>
  </div>