@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Centrade.Pages.HelpModel
@{
    ViewData["MainLayout"] = "Pomoc";
}


      <h1 class="viewHeader">Pomoc i obsługa</h1>

      <div class="infocardContainer">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title client">Oferta</h5>
                <h6 class="card-subtitle mb-2 text-muted">Klient indywidualny</h6>
                <p class="card-text">Aby uzyskać pomoc specjalisty w celu wyboru najlepszego ubezpiecznia zadzwoń na dział obsługi klienta.</p>
  
                <h5 class="client smallHeader" style="margin-top: 7rem;">Dział obsługi klienta:</h5>
                <p>Język polski:</p>
                <h6>+48 657 333 233 </h6>
                <p>Język angielski:</p>
                <h6>+48 748 129 342 </h6>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title client">Pomoc</h5>
                <h6 class="card-subtitle mb-2 text-muted">Klient indywidualny</h6>
                <p class="card-text">Jeśli potrzebujesz pomocy ze zgłoszeniem szkody online, lub chcesz ją zgłosić telefonicznie zadzwoń na infolinię.</p>
  
                <h5 class="client smallHeader" style="margin-top: 7rem;">Infolinia:</h5>
                <p>Język polski:</p>
                <h6>+48 222 222 392</h6>
                <p>Język angielski:</p>
                <h6>+48 848 322 233 </h6>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title corp">Oferta</h5>
                <h6 class="card-subtitle mb-2 text-muted">Dla firm</h6>
                <p class="card-text">Jeśli potrzebujesz skontaktować się z doradźcą w celu omówienia oferty, bądź zakupu skontaktuj się z biurem obsługi przedsiębiorstw, poprzez asystenta sprzedaży.</p>
                <h5 class="corp smallHeader">Asystent sprzedaży:</h5>
                <p>Język polski:</p>
                <h6>+48 837 222 222</h6>
                <p>Język angielski:</p>
                <h6>+48 488 224 542 </h6>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title corp">Pomoc</h5>
                <h6 class="card-subtitle mb-2 text-muted">Dla firm</h6>
                <p class="card-text">Aby uzyskać pomoc zaloguj się w celu uzyskania dostępu do numeru swojego prywatnego przedstawiciela klienta.</p>
              </div>
            </div>
      </div>
