@page
@model Centrade.Pages.SuccessModel
@{
	ViewData["ClientLayout"] = "Zgłoszono szkodę";
}

<div class="successBox">
    <div class="successContainer">

        <div id="spin"></div>
        <div id="information" class="afterAnimation"> 
            <h2 class="corp">WYSŁANO ZGŁOSZENIE</h2>
            <h3 class="rowMargin2rem">Numer zgłoszenia:</h3>
            <h2 class="client">#8282831</h2>
        </div>
      </div>
</div>

<script src="~/js/success.js" asp-append-version="true"></script>